*{
    color: white;
    margin: 0px;
}
.a{
    background-color: rgb(4, 4, 4);
    height: 50px;
    padding: 0px;
}
button{
    background-color: #f08804;
    height: 25px;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
.c{
    background-color: black;
    border-style: solid;
    height: 200px;
    margin: 0px;
    text-align: center;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}
.x{
    background-color: palevioletred;
    border: 2px solid black;
    height: 130px;
    width: 200px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    margin-left: 20px;
    transition: all 2s ease-in-out;
    background-image: url(s1.avif);
    background-size: contain;
}
.x:hover{
    background-color: red;
    font-size: 20px;
    color: white;
}
@media(max-width: 300px){
    .x{
        background-color: black;
    }
}
.y{
    background-color: rgb(189, 189, 189);
    border: solid;
    border-color: black;
    height: 130px;
    width: 200px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    transition: all 2s ease-in-out;
    background-image: url(s4.webp);
    background-size: cover;
}
.y:hover{
    background-color: rgb(132, 132, 132);
    font-size: 20px;
    color: black;
}
@media(max-width: 300px){
    .y{
        background-color: black;
    }
}
.z{
    background-color: rgb(245, 245, 120);
    border: solid;
    border-color: black;
    height: 130px;
    width: 200px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    transition: all 2s ease-in-out;
    background-image: url(s3.webp);
    background-size: cover;
}
.z:hover{
    background-color: yellow;
    font-size: 20px;
    color: black;
}
@media(max-width: 300px){
    .z{
        background-color: black;
    }
}
.content{
    display: flex ;
    justify-content: center;
    row-gap: 30px;
}
