*{
    color: white;
}
.a{
    background-color: rgb(4, 4, 4);
    height: 50px;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
.c{
    background-color: black;
    border-style: solid;
    height: 200px;
}
.x{
    background-color: palevioletred;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    margin-left: 20px;
    transition: all 2s ease-in-out;
}
.x:hover{
    background-color: red;
    font-size: 20px;
    color: white;
}
.y{
    background-color: rgb(131, 131, 241);
    border: solid;
    border-color: black;
    height: 200px;
    width: 200px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    transition: all 2s ease-in-out;
}
.y:hover{
    background-color: purple;
    font-size: 20px;
    color: white;
}
.z{
    background-color: rgb(245, 245, 120);
    border: solid;
    border-color: black;
    height: 200px;
    width: 200px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    transition: all 2s ease-in-out;
}
.z:hover{
    background-color: yellow;
    font-size: 20px;
    color: black;
}
.content{
    display: flex ;
    justify-content: center;
    row-gap: 30px;
}